*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto";
  background-color: #d3f9d8;
  padding: 4rem;
}
