*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto";
  background-color: #d3f9d8;

  max-width: 60%;
  margin: 0 auto;
}

@media (max-width: 37em) {
  body {
    max-width: 80%;
  }

  html {
    font-size: 50%;
  }
} ;
